<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673463292336-4aso0htfqn0nfl4bcdui6l8ghokmkkql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673463292336-4aso0htfqn0nfl4bcdui6l8ghokmkkql</string>
	<key>API_KEY</key>
	<string>AIzaSyBzIknTc7MR89hE0vbbXgWqJtF2DQCESSY</string>
	<key>GCM_SENDER_ID</key>
	<string>673463292336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kelompok4TaskLearn</string>
	<key>PROJECT_ID</key>
	<string>task-learn-a944a</string>
	<key>STORAGE_BUCKET</key>
	<string>task-learn-a944a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673463292336:ios:77687a074e58a26843c675</string>
	<key>DATABASE_URL</key>
	<string>https://task-learn-a944a-default-rtdb.firebaseio.com</string>
</dict>
</plist>